
@{
    ViewBag.Title = "Khôi Phục";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}

<h2>Khôi phục GV</h2>
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên GV</th>
                <th scope="col">Chức vụ</th>
                <th scope="col">Bằng cấp</th>
                <th scope="col">Thông tin</th>
                <th scope="col">Lĩnh vực</th>
                <th scope="col">Hội đồng</th>
                <th scope="col">Khôi phục</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ID</th>
                    <td>@item.Name</td>
                    <td>@item.Position</td>
                    <td>@item.Degree</td>
                    <td>@item.Information</td>
                    <td>@item.Field</td>
                    <td>@item.CouncilPosition</td>
                    <td>
                        <a href="@Url.Action("Restore", "Lecturer", new { area = "Admin", id = item.ID })" class="btn btn-warning"
                           onclick="return confirmDelete('@item.ID')">
                            <i class="fa fa-recycle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="btn btn-primary" style="">
    @Html.ActionLink("Trở về", "Index", null, new { @class = "text-white" })
</div>
<script type="text/javascript">
    function confirmDelete(itemId) {
        if (confirm("Bạn có chắc muốn khôi phục GV này không?")) {
            window.location.href = '@Url.Action("Restore", "Lecturer", new { area = "Admin" })' + '/' + itemId;
        }
        return false;
    }
</script>
